@model IEnumerable<MioBarber.Models.Barber>

@{
    ViewBag.Title = "Index";
}
<hr />
<div class="card bg-light mb-3" style="max-width: 98rem;">
    <h2>Index</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horario.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-info border-dark" }) 
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-ligth border-dark" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger border-dark" })
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Agregar Barbero", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>